/* Container styling */
.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/* Card styling to hold the image */
.card {
	max-width: 1000px;
	max-height: 1000px;
	padding: 16px;
	background-color: white;
	margin: 16px;
	box-shadow: 5px 5px 15px grey;
}

/* Image styling to constrain size and maintain aspect ratio */
.img_cat {
	max-width: 500px; /* Set maximum width */
	max-height: 500px; /* Set maximum height */
	width: 100%;
	height: auto;
	object-fit: cover; /* Ensure the image covers within the area */
}

/* Button styling with hover effect */
.btn {
	padding: 8px;
	transition: background-color 0.5s ease, transform 0.5s ease;
}

.btn:hover {
    background-color: gray;
    transform: scale(1.1); /* Enlarge the button (Just a decoration) */
}
